# Dashboard / analysis
streamlit
pandas
plotly
seaborn
matplotlib
numpy
bs4
IPython

# Google + GenAI
google
google-generativeai
vertexai

# OpenAI (optional, in case you switch later)
openai

# Backend API
fastapi==0.111.0
uvicorn[standard]==0.30.0
fpdf2
python-dotenv
httpx
slowapi
